<ion-content [fullscreen]="true" center>
  <ion-card id="menu">
    <ion-card-header>
      <ion-card-title class="ion-text-center">SokoBan</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-text-center">
          <ion-col>Play</ion-col>
        </ion-row>
        <ion-row class="ion-text-center">
          <ion-col>Options</ion-col>
        </ion-row>
        <ion-row class="ion-text-center">
          <ion-col>Credits</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
