#menu {
  font-family: Arcade;
  margin: auto;
  max-width: 500px;

  ion-card-title {
    font-size: 10vh;
  }

  ion-card-content {
    font-size: 8vh;
  }

  ion-button {
    font-family: Arcade;
    font-size: 7vh;
  }
}
