<ion-content [fullscreen]="true" center>
  <ion-card id="menu">
    <ion-card-header>
      <ion-card-title class="ion-text-center">SokoBan</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-text-center">
          <ion-col>
            <ion-button expand="full" size="large" fill="clear" routerLink="/levels" routerDirection="root">
              Play
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-text-center">
          <ion-col>
            <ion-button expand="full" size="large" fill="clear" routerLink="/options" routerDirection="root">
              Options
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-text-center">
          <ion-col>
            <ion-button expand="full" size="large" fill="clear" routerLink="/credits" routerDirection="root">
              Credits
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
